body {
    font-family: 'Roboto', sans-serif;
    color: $neutral-dark-color;
    font-size: 14px;
    line-height: 1.42857143;
}

strong {
    font-weight: 700;
}

.heading {
    margin-bottom: 40px;
}

.lead {
    font-size: 21px;
    margin-bottom: 40px;
    font-weight: 300;
}


.section-bg--primary {
    .heading {
        color: $neutral-lightest-color;
    }

    .lead {
        color: $neutral-lightest-color;
    }
}
