<!DOCTYPE html>

<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "header.html" . }}

        <div class="c-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h1 class="h2">{{ .Title}}</h1>
                        <main class="c-page__content">{{ .Content }}</main>
                    </div>

                    <div class="col-md-7">
                        <div class="row center-xs middle-xs">
                            <div class="col-md">
                                <img class="c-page__image" src="https://www.infomarina.ca/images/portfolio/grille.png"></img>
                            </div>
                            <div class="col-md">
                                <img class="c-page__image" src="https://www.infomarina.ca/images/portfolio/grille.png"></img>
                            </div>
                            <div class="col-md">
                                <img class="c-page__image" src="https://www.infomarina.ca/images/portfolio/grille.png"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}
    </body>
</html>
