@import "vendors";
@import "vendors-override";

@import "variables/colors";
@import "variables/typography";

@import "objects/image";
@import "objects/button";

@import "components/testimonials";
@import "components/pricing";

@import "utilities";
@import "hacks";
@import "debug";


body {
    font-family: 'Roboto', sans-serif;
    color: $dark-gray;
    font-size: 14px;
    line-height: 1.42857143;
}

strong {
    font-weight: 700;
}

.heading {
    margin-bottom: 40px;
}

.lead {
    font-size: 21px;
    margin-bottom: 40px;
    font-weight: 300;
}

.box-simple {
    min-height: 230px;
    text-align: center;
    margin-bottom: 40px;

    p {
        margin: 0 0 10px;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
        color: $dark-gray;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 18px;
    }
}


section {
    padding: 60px 0;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}
