.c-contact__list {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 25px;
    font-weight: 300;
}

.c-contact__listItem {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}

.c-contact__listItem--icon {
    position: absolute;
    top: .2em;
    left: 0;
}
