body {
    padding-top: 75px;
}

.c-navbar {
    top: 0;
    width: 100%;
    position: absolute;
}

.c-navbar--sticky {
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);

}


.c-navbar--small {
    height: 50px;

    .c-navbar__link {
        line-height: 50px
    }
}

.c-navbar--default {
    height: 75px;

    .c-navbar__link {
        line-height: 75px;
    }
}

.c-navbar__listItem {
    flex: 1;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;

}

.c-navbar__listItem.active {
    .c-navbar__link {
        background-color: $primary-color;
        color: $neutral-lightest-color;
    }
}

.c-navbar__listItem:hover {
    .c-navbar__link {
        background-color: $primary-color;
        color: $neutral-lightest-color;
    }
}

.c-navbar__list {
    display: flex;
    justify-content: space-between;
}


.c-navbar__link {
    width: 100%;
    display: inline-block;
    margin: 0 15px;
}
