.c-testimonial {
    margin: 0 5px;
    background: $neutral-lightest-color;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.c-testimonial__text {
    padding-bottom: 30px;
}

.c-testimonial__icon {
    color: $primary-color;
    font-size: 30px;
    float: left;
    width: 20%;
}

.c-testimonial__profile {
    float: right;
    width: 80%;
    text-align: right;
}

.c-testimonial__avatar {
    width: 60px !important;
    height: 60px;
    margin-left: 10px;
    float: right
}

.c-testimonial__name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.c-testimonial__position {
    margin: 0;
    font-size: 12px
}

.c-testimonial__details {
    margin-top: auto;
}

.section-bg--image {
    height: 380px;
    position: relative;
    background: url('https://images.unsplash.com/photo-1496309838698-63bfac391248?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
}

.section-bg--pattern {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/seigaiha.png");
}

.section-bg--primary {
    background-color: $primary-color;
}
