{{ if .Site.Params.contact.enable }}
{{ with index .Site.Params.contact }}
<section id="contact" class="blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading u-text-center">
                    <h2 class="h2">{{ .title }}</h2>
                </div>

                {{ if .lead }}
                <p class="lead u-text-center">
                {{ .lead | markdownify }}
                </p>
                {{ end }}


                <div class="row">

                    <div class="col-md-6">
                        <ul class="c-contact__list">
                            <li class="c-contact__listItem"><i class="c-contact__listItem--icon fas fa-map-marker"></i>{{ .address | markdownify }}</li>
                            <li class="c-contact__listItem"><i class="c-contact__listItem--icon fas fa-phone"></i>{{ .phone | markdownify }}</li>
                            <li class="c-contact__listItem"><i class="c-contact__listItem--icon fas fa-envelope"></i>{{ .email | markdownify }}</li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <form method="post" action="https://formspree.io/{{ .form_email }}">
                            <div class="o-form__group">
                                <input class="o-form__input o-form__control" type="email" name="email" placeholder="{{ .form_email_placeholder }}">
                            </div>
                            <div class="o-form__group">
                                <input class="o-form__input o-form__control" type="text" name="name" placeholder="{{ .form_name_placeholder }}">
                            </div>
                            <div class="o-form__group">
                                <textarea class="o-form__input o-form__input--textArea o-form__control" name="message" rows="5" placeholder="{{ .form_message_placeholder }}"></textarea>
                            </div>
                            <div class="o-form__group">
                                <button class="o-btn o-btn--primary o-btn--big" type="submit">{{ .form_submit_text }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
