{{ if .Site.Params.packages.enable }}
{{ if gt (len .Site.Data.packages) 0 }}
<section id="package" class="section-bg--primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ if .Site.Params.packages.title }}
                <div class="heading u-text-center">
                    <h2 class="h2">{{ .Site.Params.packages.title }}</h2>
                </div>
                {{ end }}

                {{ if .Site.Params.packages.lead }}
                <p class="lead">
                {{ .Site.Params.packages.lead | markdownify }}
                </p>
                {{ end }}

                {{ with index .Site.Data.packages .Site.Language.Lang }}
                <div class="row">
                    {{ range $index, $element := sort . "weight" }}
                    <div class="col-md">

                        {{ if .isFeatured }}
                        <div class="c-package__box c-package__box--featured">
                            {{ else }}
                            <div class="c-package__box">
                                {{ end }}
                                <div class="c-package__name">
                                    <p>{{ .name }}</p>
                                </div>
                                <ul class="c-package__list">
                                    {{ range .featureList }}
                                    <li class="c-package__list_item">{{ .item | markdownify }}</li>
                                    {{ end }}
                                </ul>
                                <div class="c-package__footer">
                                    <a href="{{ .ctaURL }}">
                                        <button class="o-btn o-btn--primary o-btn--big">{{ .ctaText }}</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
</section>
{{ end }}
{{ end }}
