/* $primary-color: #38a7bb; */

/* InfoMarina */
$primary-color: #59abd0;
/* $secondary-color: #2a84c6; */
$secondary-color: #2a84bd;

/* InfoBillard */
/* $primary-color: #f89406;  */
/* $secondary-color: #241811; */

/* $neutral-darkest-color: #555555; */
/* $neutral-darker-color: #555555; */
$neutral-dark-color: #555555;
$neutral-light-color: #999999;
/* $neutral-lighter-color: #999999; */
$neutral-lightest-color: #ffffff;
