.h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: 0.08em;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-top: 20px;
}

.h2 {
    border-bottom: solid 5px $primary-color;
}
